<% throw_content :javascripts do %>
<script type="text/javascript">
$(document).ready(function() {
	$(".edit").editable("/tickets/update", {
		indicator : "Saving...",
		tooltip   : 'Click to edit...',
		id        : 'ticket_id',
		name 	  : 'title'
	});
<% milestone_count = @project.milestones.size %>
<% for i in 0..( milestone_count - 1 ) %>
	$("#milestone_<%= i %>").sortable({ 
	    connectWith: [<%= (0..(milestone_count - 1)).to_a.reject { |j| j == i }.map { |m| "\"#milestone_#{m}\""}.join(',') %>],
		items: "li",
		stop : function(e,ui) { 
			$.ajax({
				url : "/tickets/update",
				data : { 
					milestone_id: ui.item.parent().attr('title').split('_')[2],
					ticket_id: ui.item.attr('id').split('_')[1],
				},
				type : 'POST'
			});
		}
	}); 
<% end %>
	$("select.user_selection").each( function() {
		$(this).mouseover( function() { $('ul.tickets').sortable('disable'); });
		$(this).mouseout( function() { $('ul.tickets').sortable('enable'); });
		$(this).change( function() { 
			$.ajax({
				url : "/tickets/update",
				data : { user_id: this.value, ticket_id: $(this).attr('id').split('_')[1] },
				type : 'POST'
			});
		});
	});
	$('a.progress').click(function () {
		$(this).hide();
		$('img.progress').fadeIn('slow');
    });
	$('a.toggle_resolved').click( function() {
		$(this).parent().parent().find('li.resolved').toggle();
		return false;
	});
	
});
</script>
<% end %>

<div style="float: right; text-align:right;">
<p><a href="" class="progress">Update totals</a><img class="progress" style="display:none;" src="/images/progress.gif", alt="" /></p>
</div>

<h1>Project: <span class='identifier'><%= @project.name %></span></h1>
<p><small><%= pluralize_with_count_display @project.milestones.size, 'milestone' %>, <%= pluralize_with_count_display @project.open_tickets_count, 'open ticket' %></small></p>

<div class="totals_container clearfix">
	<table class="totals">
		<tr><td colspan="2" class="no_border"><i>Totals:</i></td></tr>
		<tr><td>Estimate for all open tickets: </td><td align="right"><b><%= @project.time_totals[:open][:estimated] %></b> days</td></tr>
		<tr><td>Estimate for all closed tickets: </td><td align="right"><b><%= @project.time_totals[:closed][:estimated] %></b> days</td></tr>
		<tr><td>Actual for all closed tickets: </td><td align="right"><b><%= @project.time_totals[:closed][:estimated] %></b> days</td></tr>
		<tr><td>Un-timed tickets: </td><td align="right"><b><%= @project.untimed_tickets %></b></td></tr>
	</table>
	<table class="totals">
		<tr><td colspan="4" class="no_border"><i>Totals by user:</i></td></tr>
		<tr><th>User</th><th>Open est.</th><th>Closed est.</th><th>Closed actual</th></tr>
		<% @project.users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td align="right"><%= @project.time_totals_by_user( user )[:open][:estimated]  %></td>
			<td align="right"><%= @project.time_totals_by_user( user )[:closed][:estimated]  %></td>
			<td align="right"><%= @project.time_totals_by_user( user )[:closed][:actual]  %></td>
		</tr>
		<% end %>
	</table>
</div>



<% @project.milestones.each do |milestone| %>
<hr />
<div class="milestone" id="milestone_<%= milestone.index %>_container">
	<h2>Milestone: <span class='identifier'><%= milestone.title %></span></h2>
	<p><small><%= pluralize_with_count_display @project.open_tickets_by_milestone( milestone ).size, 'open ticket' %></small></p>
	<ul id="milestone_<%= milestone.index %>" title="lighthouse_milestone_<%= milestone.lighthouse_id %>" class="tickets">	
	<% @project.tickets_by_milestone( milestone ).each do |ticket| %>
		<li id="ticket_<%= ticket.number %>" class="<%= ticket.state%> <%= "untimed" if ticket.untimed %>">
			<a href="http://<%= Merb::Config[:lighthouse]['project_settings']['account_name'] %>.lighthouseapp.com/projects/<%= Merb::Config[:lighthouse]['project_settings']['project_id'] %>/tickets/<%= ticket.number %>" target="_lighthouse"><img src="/images/external.png", alt="link out" /></a>
			<span class="ticket_number"><%= ticket.number %></span>
			<span class="edit" id="<%= ticket.number %>" style="display:inline-block;"><%= ticket.title %></span>
			[<%= ticket.state %>]
			<span class="assigned_to">
				<select title="<%= ticket.number %>" class="user_selection" id="select_<%= ticket.number %>">
					<%= @project.users.map { |u| "<option value=\"#{u.lighthouse_id}\"#{ " selected" if u.lighthouse_id == ticket.assigned_to_id }>#{u.name}</option>" }.join("\n") %>
				</select>
			</span>
			<span class='print_only'><small><%= @project.users.map { |u| u.name if u.lighthouse_id == ticket.assigned_to_id }.join('') %></small></span>
		</li>
	<% end %>	
	</ul>
	<p <%= "style=\"display:none;\"" if @project.tickets_by_milestone( milestone ).size == @project.open_tickets_by_milestone( milestone ).size %>><a href="" class="toggle_resolved"><small>Toggle resolved tickets</small></a></p>
	<div class="totals_container clearfix">
		<table class="totals">
			<tr><td colspan="2" class="no_border"><i>Totals:</i></td></tr>
			<tr><td>Estimate for open tickets: </td><td align="right"><b><%= @project.time_totals_by_milestone( milestone)[:open][:estimated] %></b> days</td></tr>
			<tr><td>Estimate for closed tickets: </td><td align="right"><b><%= @project.time_totals_by_milestone( milestone)[:closed][:estimated] %></b> days</td></tr>
			<tr><td>Actual for closed tickets: </td><td align="right"><b><%= @project.time_totals_by_milestone( milestone)[:closed][:estimated] %></b> days</td></tr>
			<tr><td>Un-timed tickets: </td><td align="right"><b><%= @project.untimed_tickets_by_milestone( milestone ) %></b></td></tr>
		</table>
		<table class="totals">
			<tr><td colspan="4" class="no_border"><i>Totals by user:</i></td></tr>
			<tr><th>User</th><th>Open est.</th><th>Closed est.</th><th>Closed actual</th></tr>
			<% @project.users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td align="right"><%= @project.time_totals_by_milestone_and_user( milestone, user )[:open][:estimated]  %></td>
				<td align="right"><%= @project.time_totals_by_milestone_and_user( milestone, user )[:closed][:estimated]  %></td>
				<td align="right"><%= @project.time_totals_by_milestone_and_user( milestone, user )[:closed][:actual]  %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<% end %>

<hr />
<p><small><span class="untimed">Red tickets</span> were not able to be parsed for time estimates</small></p>
